@import url('https://fonts.googleapis.com/css?family=El+Messiri|Montserrat|Noto+Sans|Roboto+Mono');

/*Whole App*/
* {
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Helvetica';
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

/*Nav*/
nav div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-main {
  display: flex;
  flex-direction: row;
}
.nav-left {
  flex: 1;
}
.nav-w-color {
  display: flex;
  background: #F0EDEA;
}
.active {
  font-weight: bolder;
}
.logo {
  margin: 1em;
}
.nav-link {
  color: black;
  margin: 1em;
  display: block;
  position: relative;
  text-align: center;
}
.nav-link:before, .nav-link:after {
  content: attr(link-attr);
  text-decoration: inherit;
}
.nav-link:before {
  font-weight: bold;
  visibility: hidden;
}
.nav-link:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.nav-link:hover:before {
  visibility: visible;
}
.nav-link:hover:after {
  display: none;
}

/*Main content of each page*/
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}
.main-content {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
}

/*Landing*/
.landing {
  flex: 1;
  text-align: center;
}
.landing-title {
  color: white;
  font-family: 'El Messiri', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  letter-spacing: .1em;
  width: 60vw;
  margin: 0 auto;
}
.landing-title:hover {
  cursor: pointer;
}
.landing-title h1 {
  font-size: 5em;
  margin: 0;
  margin-top: 35vh;
}
.landing-title h3 {
  font-size: 2.5em;
  margin: 0;
}
.landing-nav {
  color: white;
}
.landing-logo {
  margin: 1em;
}
.landing-nav-hack {
  flex: 1;
}

/*Services*/
.services {
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 1em;
}
.service {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* margin-right: 3em; */
}
.service h3 {
  margin: 0;
}
.service-left {
  justify-content: center;
  width: 30vw;
}
.service-right {
  flex: 1;
}
.massage-img {
  width: 60vw;
  /* margin-bottom: 5vh; */
}
.service-images {
  text-align: center;
}
.price {
  /* margin-left: 3em; */
}

/*About*/
.about-img {
  width: 40vw;
}
.about-left {
  text-align: center;
  flex: 1;
}
.about-right {
  width: 50vw;
}
.about-right div {
  margin-right: 5vw;
}
.about-right h3{
  margin: 0;
  text-align: center;
}
.social-media-link:hover {
  font-weight: bold;
}
.icon {
  color: black;
}

/*Contact*/
.contact {
  flex: 1;
  text-align: center;
}
.map {
  display: flex;
  justify-content: center;
}
.contact-heading {
  margin-top: 3em;
  margin-bottom: 0;
}
.media-links {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
}
.media-links a{
  margin-left: 3vw;
  margin-right: 3vw;
}
.contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

/*Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.contactform-label {
  margin-bottom: 1em;
}
#connect {
  font-size: 20px;
  margin-bottom: 3vh;
  color: #222324;
}
#email-invalid {
  color: white;
  display: none;
}
#gform {
  align-self: center;
  width: 50vw;
}
form-item {
  display: flex;
}
label {
  color: #222324;
}
input {
  padding: 3px;
  outline: none;
}
textarea {
  width: 250px;
  height: 75px;
}
.submit {
  background: #C0C0C7;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;;
  margin-top: 3vh;
  font-weight: bold;
}
.submit:hover {
  cursor: pointer;
  color: white;
  background: #222324;
  transition: .1s;
}

/*Footer*/
/* .footer {
  text-align: center;
} */

@media only screen and (max-width: 960px) {

}
