@import url('https://fonts.googleapis.com/css?family=El+Messiri|Montserrat|Noto+Sans|Roboto+Mono');

/* Whole App */
* {
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Helvetica'; */
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

/* Nav */
nav div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-main {
  display: flex;
  flex-direction: row;
}
.nav-left {
  flex: 1;
}
.nav-w-color {
  display: flex;
  background: #F0EDEA;
}
.active {
  font-weight: bolder;
  border-bottom: 1px solid black;
  height: 1.5em;
}
.nav-link {
  color: black;
  margin: 1em;
  display: block;
  position: relative;
  text-align: center;
}
.nav-link:before, .nav-link:after {
  content: attr(link-attr);
  text-decoration: inherit;
}
.nav-link:before {
  font-weight: bold;
  visibility: hidden;
}
.nav-link:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
/* .nav-link:hover:before {
  visibility: visible;
}
.nav-link:hover:after {
  display: none;
} */
.header-logo {
  width: 3em;
  margin-top: -.7em;
}
.drop-down {
  flex-direction: column;
  float: right;
  position: absolute;
  z-index: 100;
  margin-top: 2em;
  background-color: #F0EDEA;
  /* background-color: rgba(191, 191, 189, 0.3 ); */
}
.drop-down-landing {
  flex-direction: column;
  float: right;
  position: absolute;
  z-index: 100;
  margin-top: 2em;
}
.nav-menu {
  display: none;
}

/* Main content of each page */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}
.main-content {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
}

/* Landing */
.hand-white {
  width: 3em;
  margin-top: -.7em;
}
.landing {
  flex: 1;
  text-align: center;
}
.landing-title {
  color: white;
  font-family: 'El Messiri', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: lighter;
  letter-spacing: .1em;
  width: 80vw;
  margin: 0 auto;
  margin-top: 30vh;
}
.landing-title:hover {
  cursor: pointer;
}
.landing-title h1 {
  font-size: 10vw;
  margin: 0;
}
.landing-title h3 {
  font-size: 5vw;
  margin: 0;
}
.landing-nav {
  color: white;
}
.landing-logo {
  margin: 1em;
}
.landing-nav-hack {
  flex: 1;
}

/* Services */
.service-content {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
}
.service-left {
  width: 30vw;
}
.services {
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 1em;
  /* margin-top: 5vh; */
}
.service {
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin: 0 auto;
  margin-bottom: 3em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.service h3 {
  margin: 0;
  margin-top: 1em;
}
.service-right {
  flex: 1;
}
.massage-img {
  width: 60vw;
  margin-bottom: 5vh;
}
.service-images {
  text-align: center;
}

/* About */
.about {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
}
.about-img {
  width: 40vw;
  margin-bottom: 3em;
}
.about-left {
  text-align: center;
  flex: 1;
}
.about-right {
  width: 50vw;
}
.about-right h3{
  margin: 0;
  /* text-align: center; */
}
.about-text {
  margin-bottom: 5vh;
  width: 45vw;
}
.about-text h3 {
  display: inline;
}
.inline {
  display: inline;
}

/* Contact */
.contact {
  flex: 1;
  text-align: center;
}
.map {
  display: flex;
  justify-content: center;
}
.contact-heading {
  margin-top: 3em;
  margin-bottom: 0;
}
.media-links {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
}
.media-links a{
  margin-left: 3vw;
  margin-right: 3vw;
}
.contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}
hr {
  width: 60%;
}

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 5vh;
}
.contactform-label {
  margin-bottom: 1em;
}
#connect {
  font-size: 20px;
  margin-bottom: 3vh;
  color: #222324;
}
#email-invalid {
  color: white;
  display: none;
}
#gform {
  align-self: center;
  width: 50vw;
}
form-item {
  display: flex;
}
label {
  color: #222324;
}
input {
  padding: 3px;
  outline: none;
}
textarea {
  width: 40vw;
  height: 75px;
}
.comment {

}
.submit {
  background: #C0C0C7;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;;
  margin-top: 3vh;
  font-weight: bold;
}
.submit:hover {
  cursor: pointer;
  color: white;
  background: #222324;
  transition: .1s;
}
/*Footer*/
/* .footer {
  text-align: center;
} */

@media only screen and (max-width: 750px) {

  /* Services */
  .service-content {
    flex-direction: column-reverse;
  }
  .services {
    flex-direction: column;
    margin-top: 1.5em;
    justify-content: center;
  }
  .service {
    width: 60vw;
    align-self: center;
  }
  .service-left {
    width: 100vw;
    margin-bottom: 1.5em;
  }
  .service-right {
    flex: 1;
  }
  .massage-img {
    width: 90vw;
    margin-bottom: 0;
  }
  .service-images {
    text-align: center;
  }

  /* About */
  .about {
    flex-direction: column-reverse;
  }
  .about-img {
    margin-bottom: 3em;
    width: 90vw;
  }
  .about-right {
    width: 100vw;
  }
  .about-text {
    margin: 0 auto;
    margin-bottom: 3em;
    width: 90vw;
  }
}

/* For Mobile Devices*/
@media only screen and (max-width: 400px) {
  .nav-right {
    display: none;
  }
  .nav-menu {
    display: block;
    margin: 1em;
  }
  .nav-menu:hover {
    cursor: pointer;
  }
  .landing-nav-menu {
    /* margin-left: 1em; */
    margin: 1em;
  }

  /* Landing Page */
  .landing-title {
    width: 100vw;
  }
  .landing-title h1 {
    font-size: 13vw;
    margin: 0;
  }
  .landing-title h3 {
    font-size: 8vw;
    margin: 0;
  }

  /* Contact Form */
  textarea {
    width: 50vw;
  }

  /* Services */
  .services {
    /* flex-direction: column; */
    margin: 0 auto;
    margin-bottom: 3em;
  }
  .service {
    width: 60vw;
    /* margin: 0 5vw; */
    align-self: center;
  }
  .service-left {
    width: 100vw;
    margin-bottom: 1.5em;
  }
}
